body {
  background-color: burlywood;
}

.Long_Beach{
  background-color: white;
  padding: 15px;
  border: 2px solid black;
}

.Profile {
  background-color: beige;
  font-size: x-large;
  display: flex;
  align-items: center;
}

.james-section #movie_title {
  font-style: italic;
  font-size: large;
}

.container .box {
  border: 2px solid black;
  background-color: white;
  padding: 15px;
  margin: 10px;
  /*transition: transform 2s ease 0s;*/
}

/*
.container .box:hover {
  transform: scale(1.03);
}
  */

.container {
  display: flex;
  flex-direction: column;
}

.details {
  margin-top: 10px;
}